;; -*- mode: emacs-lisp; coding: emacs-mule; -*-
;; --------------------------------------------------------------------------
;; Desktop File for Emacs
;; --------------------------------------------------------------------------
;; Created Sun Aug 24 14:33:43 2014
;; Desktop file format version 206
;; Emacs version 24.3.1

;; Global section:
(setq desktop-missing-file-warning nil)
(setq tags-file-name nil)
(setq tags-table-list nil)
(setq search-ring '("pac" "package"))
(setq regexp-search-ring nil)
(setq register-alist nil)
(setq file-name-history '("~/emacs/extension/" "~/emacs/" "~/.emacs"))

;; Buffer section -- buffers listed in same order as in buffer list:
(desktop-create-buffer 206
  "/Users/whufanwei/emacs/extension/fan.el"
  "fan.el"
  'emacs-lisp-mode
  '(auto-fill-mode visual-line-mode global-visual-line-mode global-auto-revert-mode auto-indent-mode)
  5532
  '(12 nil)
  nil
  nil
  '((buffer-file-coding-system . utf-8-unix) (truncate-lines)))

(desktop-create-buffer 206
  nil
  "extension"
  'dired-mode
  '(auto-fill-mode visual-line-mode global-visual-line-mode global-auto-revert-mode)
  870
  '(nil nil)
  t
  '("/Users/whufanwei/emacs/extension/")
  '((truncate-lines)))

(desktop-create-buffer 206
  nil
  "emacs"
  'dired-mode
  '(auto-fill-mode visual-line-mode global-visual-line-mode global-auto-revert-mode)
  605
  '(nil nil)
  t
  '("/Users/whufanwei/emacs/")
  '((truncate-lines)))

(desktop-create-buffer 206
  "/Users/whufanwei/emacs/Cask"
  "Cask"
  'org-mode
  '(auto-fill-mode visual-line-mode global-visual-line-mode global-auto-revert-mode org-indent-mode)
  16
  '(nil nil)
  nil
  nil
  '((indent-tabs-mode) (buffer-file-coding-system . undecided-unix) (truncate-lines)))

(desktop-create-buffer 206
  nil
  ".cask"
  'dired-mode
  '(auto-fill-mode visual-line-mode global-visual-line-mode global-auto-revert-mode)
  186
  '(nil nil)
  t
  '("/Users/whufanwei/emacs/.cask/")
  '((truncate-lines)))

(desktop-create-buffer 206
  nil
  "24.3.50.1"
  'dired-mode
  '(auto-fill-mode visual-line-mode global-visual-line-mode global-auto-revert-mode)
  198
  '(nil nil)
  t
  '("/Users/whufanwei/emacs/.cask/24.3.50.1/")
  '((truncate-lines)))

(desktop-create-buffer 206
  nil
  "elpa"
  'dired-mode
  '(auto-fill-mode visual-line-mode global-visual-line-mode global-auto-revert-mode)
  203
  '(nil nil)
  t
  '("/Users/whufanwei/emacs/.cask/24.3.50.1/elpa/")
  '((truncate-lines)))

(desktop-create-buffer 206
  "/Users/whufanwei/.emacs"
  ".emacs"
  'emacs-lisp-mode
  '(auto-fill-mode visual-line-mode global-visual-line-mode global-auto-revert-mode auto-indent-mode)
  8862
  '(7185 nil)
  nil
  nil
  '((buffer-file-coding-system . utf-8-unix) (truncate-lines)))

